<%layout("/layouts/boilerplate")%>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <div>
        <label for="title" class="form-label">Title</label>
        <input name="title" placeholder="enter title" class="form-control">
        </div>
        <br><br>
        <textarea name="description" placeholder="enter description"></textarea>
        <br><br>
        <input name="image" placeholder="enter image URL/Link" type="text">
        <br><br>
        <input name="price" placeholder="enter price" type="number" text="number">
        <br><br>
        <input name="country" placeholder="enter country" type="text">
        <br><br>
        <input name="location" placeholder="enter location" type="text">
        <br><br>
        <button>Add</button>
    </form>
</body>
